@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body * {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    text-transform: uppercase;
}

canvas {
    margin: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    cursor: default;
}

.topright {
    position: absolute;
    right: 5px;
    top: 5px;
}

.displayfps {
    padding: 5px;
    background: #14141480;
}

.displayfps > p {
    display: inline;
    color: white;
}

.settingscontainer {
    position: absolute;
    top: 2.5em;
    right: 5px;
    width: 32px;
    height: 32px;
    /* background: #14141480; */
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.containerImg {
    height: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.controls {
    color: white;
    display: none;
}

.controls * {
    margin: 0;
    padding: 0;
}

.sectionContainer {
    width: 100%;
    height: 32px min-content;
    border-bottom: 1px solid #fafafab2;
    background: #141414af;
}

.sectionTitle {
    padding: 10px;
}

.settingName {
    font-size: 12px;
}

.sectionPadding {
    padding: 10px;
}

.settingscontainer:hover {
    width: 212px;
    transition-duration: 125ms;
    background: #000000e8;
    transition-timing-function: ease-in-out;
}

.settingscontainer:hover > .containerImg {
    display: none;
}

.settingscontainer:hover .controls {
    display: block;
}

.customSelect {
    width: 100%;
    /* padding: 5px 35px 5px 10px; */
    padding: 10px;
    /* margin-left: 10px; */
    border: none;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15%
        no-repeat #eee; */
    background: #141414;
    color: white;
}

.noHighlight {
    background: #000000e8;
}

.customSelect:hover {
    background: #2e2e2e;
    cursor: pointer;
}

.sectionContainer:hover {
    background: #2e2e2e;
    border-bottom: 1px solid #ffffffb2;
}

.noHighlight:hover {
    background: #000000e8;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 5px;

    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(66, 188, 244);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00d0ff;
    cursor: pointer;
}

.particleSettingContainer {
    /* display: inline; */
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    position: absolute;
    opacity: 0.35;
    /* top: 25%; */
    /* left: 25%; */
    left: 10px;
    bottom: 10px;
    left: -295px;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.sliderSettingContainer {
    /* position: absolute; */
    position: relative;
    color: rgb(209, 209, 209);
    padding: 8px 10px 8px 10px;
    background: #ffffff;
    border-radius: 10px;
    height: max-content;
    bottom: 10px;
    width: 300px;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.ptSettingName {
    grid-column-start: 1;
    grid-column-end: 3;

    padding-bottom: 2px;
    padding-left: 2px;
    border-bottom: solid #b3b3b3 1px;
    width: 70%;
}

.ptSettingName p {
    margin: 0;
}

.leftSliderCon {
    /* width: 75%; */
    /* background-color: #ff6e6e; */
}

.maxValueContainer {
    width: 35%;

    /* background-color: #00d0ff; */
}

.maxValueContainer input {
    max-width: 100%;
    overflow: hidden;
}

.valueContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.valueContainer p {
    margin: 0;
}

.valueContainer .pGrid2 {
    right: 0;
    text-align: right;
}

/* .sliderSettingContainer {
    left: -290px;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.sliderSettingContainer:hover {
    left: -290px;
    left: 10px;
}

.sliderSettingContainer:hover .leftSliderCon {
    width: 100%;
} */

.particleSettingContainer:hover {
    display: grid;
    left: 10px;
    opacity: 1;
}

.particleSettingContainer:hover .leftSliderCon {
    width: 100%;
}

.particleSettingContainer:hover .sliderSettingContainer {
    /* position: relative; */
    background-color: #222222;
}

.leftSliderCon {
    width: 10px;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
}

.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    /* top: 0px; */
    height: 17px;
    width: 17px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    /* margin-right: 0px; */
    margin: 0;
    outline: none;

    transition: all 0.2s;
}
.custom-checkbox:checked::before {
    position: absolute;
    font: 12px/1 'Open Sans', sans-serif;
    left: 5px;
    top: 1px;
    content: '\02143';
    transform: rotate(40deg);
}

.custom-checkbox:hover {
    background-color: #f7f7f7;
}

.custom-checkbox:checked {
    background-color: #f1f1f1;
}

.sectionPadding * {
    vertical-align: middle;
}

.hideThis {
    display: none;
}
